<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarnetNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8837BD1E1DE2EE6000DEAA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8837BD341DE2EE6100DEAA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8837BD3F1DE2EE6100DEAA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
